/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
.container{
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Main */
.col{
    float: left;
    width: calc( 100% / 3 - 8px);
    margin: 0 4px;
    margin-bottom: 20px;
}

.product{
    position: relative;
}

.product img{
    width: 100%;
    display: block;
}

.discount, .label, .label-6{
    color: white;
    font-size: 10px;
    padding: 4px;
    position: absolute;
    bottom: 15px;
}

.discount{
    background-color: rgb(235, 0, 55);
    left: 0;
}
.label{
    background-color: rgb(59, 140, 97);
    left: 40px;
}

.label-6{
    background-color:rgb(59, 140, 97);
    left: 0;
}

.wishlist{
    display: none;
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: white;
    padding: 5px 6px;
    font-size: 10px;  
}

.product:hover .wishlist{
    display: block;
}

.product .product-img-nb{
    display: none;
}

.product:hover .product-img-n{
    display: none;
}

.product:hover .product-img-nb{
    display: block;
}

.brand{
    font-size: 8px;
    margin-top: 5px;
}

.style{
    font-size: 10px;
}

.prize{
    font-size: 9px;
    color:rgb(235, 0, 55);
   
}

.deleted{
    font-size: 9px;
    text-decoration: line-through;
   
}

.full-prize{
    font-size: 5px;
}
